h1{
	color : #000080;
	font-size : 20px;
	font-family: Script MT bold;            
	}
#collegelist{
	font-size : 15px;
	font-family: Script MT bold;
	}
  body {
    background: url(background.gif) 
				repeat-x #aacf43;
	  margin:0px auto;
		background-color:lightgrey;
		text-align:left;
padding-left:50px;
border:0px;		
}
nav{
display: inline;
text-decoration: none;
color:white;
margin-right:20px;
margin-top:12px;
}
#toplink{
width:570px;
height:90px;
float:right;
text-align:right;
}
a href{
color :white;
}
#idLogo{
margin-top : 0px;
height : 18%
}
.post {
	padding: 5px;
	border-top: 1px solid #000000;
	border-bottom: 1px solid #000000;
	border-left: 1px solid #000000;
	border-right: 1px solid #000000;
	margin-bottom: 10px; 
	margin-top : 80px;
	border-color:red;
}
table{
	border-color : navy;
	border-style : solid;
	border-width : 2px;	
}
caption{
background-color : navy;
color : white;
}
td{
border-color : navy;
	border-style : solid;
	border-width : 2px;
	background-color : white;
	padding: 1px;
}
th{background-color : white;
}
